.aboutUpperContainer {
  text-align: center;
}

h1 {
  text-align: center;
}

.aboutBottomContainer {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.aboutBottomContainer > div {
  flex: 1; /* Each div takes equal space */
  margin: 0 10px; /* Optional: Add some margin for spacing */
  border: 1px solid #ccc;
  border-radius: 15px;
  padding: 10px;
  text-align: center;
}

.aboutBottomContainer ul {
  text-align: left;
}


.about .aboutBottomContainer .events img {
  width: 200px;
  height: 300px;
}

.about .aboutBottomContainer .FollowUs img {
  width: 300px;
  height: 300px;
}

/* .about .aboutBottomContainer .HireUse #hire-us-image {
  width: 200px;
  height: 200px;
} */