.aboutUpperContainer {
  text-align: center;
}

.aboutBottomContainer {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.aboutBottomContainer > div {
  flex: 1; /* Each div takes equal space */
  margin: 0 10px; /* Optional: Add some margin for spacing */
  border: 1px solid #ccc;
  padding: 10px;
  text-align: center;
}

.about .aboutBottomContainer .event, img {
  width: 200px;
  height: 300px;
}